<form method="post" action="{{ path('app_ingredient_delete', {'id': ingredient.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cet ingredient?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ingredient.id) }}">
	<button class="btn btn-sm m-1 btn-primary">Supprimer</button>
</form>
