{% extends 'base.html.twig' %}

{% block title %}Nouvel ingredient
{% endblock %}
{% block body %}
	<div class="d-flex text-center flex-column">
		<h1>Créer un nouvel ingredient</h1>

		{{ include('ingredient/_form.html.twig') }}

		<a href="{{ path('app_ingredient_index') }}">
			<button class="btn btn-secondary m-1 btn-sm">Retour a la liste</button>
		</a>
	</div>
{% endblock %}
