{% extends 'base.html.twig' %}
{% block title %}Acceuil{% endblock %} 
{% block body %}
    <div class="container text-center w-50">
        <div class="jumbotron mt-4">
            <h1 class="display-4">bienvenue</h1>
            <p class="lead">Bienvenue sur la premiere page crée avec symfony.</p>
            <hr class="my-4">
            <p>Merci de vous inscrire afin de continuer.</p>
            <a class="btn btn-primary btn-lg" href="../register" role="button">Inscription</a>
            <a class="btn btn-primary btn-lg" href="../login" role="button">Connexion</a>
          </div>
    </div>
{% endblock %}